/* COLORES */
/*mixin*/
.pre--twitter {
  background-color: #55acee; }

.pre--facebook {
  background-color: #3a5795; }

.twitter:hover {
  box-shadow: 2px 2px 2px 1px rgba(75, 146, 240, 0.2); }

.facebook:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); }

body {
  background-color: #faecf3; }

.custom {
  text-align: center !important;
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
  height: auto;
  min-height: 400px;
  background-color: #ffffff10 !important;
  border-radius: 10px;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%; }
  .custom img {
    height: 400px;
    width: 350px;
    border-radius: 20px;
    margin: 10px; }
  .custom h1, .custom h2, .custom h3, .custom h4, .custom p {
    color: #585555 !important;
    font-style: normal;
    font-weight: lighter; }

.logo {
  margin-right: 40px;
  color: white;
  font-style: normal;
  font-weight: lighter; }

.img {
  width: 100%;
  height: 100%;
  display: flex; }

.fig {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  margin: 30px; }
  .fig .image {
    margin-bottom: 40px; }
    .fig .image img {
      width: 90%;
      border-radius: 20px; }

h1, .custom h2, .custom h3, h3, h4, p {
  text-align: center;
  font-weight: lighter; }

.margin-bottom {
  margin-bottom: 50px; }

.my-container {
  margin-bottom: 100px; }

footer {
  line-height: 70px;
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  background-color: #cfb1b1;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: small;
  color: #2c2b2b;
  font-weight: 600; }
  footer p {
    margin-top: 23px; }
  footer ul li {
    display: flex;
    flex-direction: row;
    list-style-type: none; }
    footer ul li h5 {
      color: #2c2b2b;
      margin-left: 10px;
      padding: 35px;
      font-size: small;
      font-weight: 600;
      margin-top: 14px; }
    footer ul li a {
      margin-top: 5px; }

.icon {
  margin-top: .625em;
  margin-right: 15px;
  width: 30px;
  height: 30px;
  border-radius: 25px;
  margin-top: 27px;
  transition: all 0.2s ease; }
  .icon:hover {
    width: 45px;
    height: 45px;
    margin-top: 20px; }
